html, body, #root , .row {
    padding: 0;
    margin: 0;
    height: 100%;
}

body {
  background: rgba(0,0,0,.75);
  color: #fff;
}

#wrapper {
  height: 100%;
  position: relative;
  width: 100%;
}

#sidebar {
  width: 30%;
  min-height: 100%;
  padding: 1%;
}

#app-maparea {
  position: relative;
  width: 70%;
  height: inherit;
  padding: 0;
}

.leaflet-container {
  position: relative;
  width: 100%;
  height: inherit;
  min-height: 90em;
  box-shadow: 0px 5px 5px 5px white;
}

.btn {
    margin-top: 20px;
}

.select {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    top: 0;
    padding: 0;
}

.card {
    background-color: inherit;
    border: 1px solid white;
    padding: 0 10px;
}
