html, body, #root , .row {
    padding: 0;
    margin: 0;
    height: 100%;
}

body {
  background: rgba(0,0,0,.75);
  color: #fff;
}

#wrapper {
  height: 100%;
  position: relative;
  width: 100%;
}

#sidebar {
  width: 30%;
  min-height: 100%;
  padding: 1%;
}

#app-maparea {
  position: relative;
  width: 70%;
  height: inherit;
  padding: 0;
}

.leaflet-pane {
    z-index: 1;
}

.leaflet-container {
  position: relative;
  width: 100%;
  height: inherit;
  min-height: 90em;
  box-shadow: 0px 5px 5px 5px white;
}

.btn {
    margin-top: 20px;
}

.select {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    top: 0;
    padding: 0;
}

.card {
    background-color: inherit;
    border: 1px solid white;
    padding: 0 10px;
}

.accordion > .card {
    overflow: visible;
}

.disabled {
    color: grey;
}

.nav-tabs {
    margin-bottom: 20px;
    background-color: #aaa;
    color: black;
}

p.help {
    margin: 2px;
    font-style: italic;
    font-size: 0.8em;
    color: #999;
}

.form-label {
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
    font-size: 1.25rem;
}

h4 {
    margin-top: 1.1em;
    color: #aaa;
}
